*{
    margin: 0;
    padding:0;
}
body{font:14px/24px 微软雅黑;}
.wp{
    width:960px;
    margin: 0 auto;
}
.cl{
    clear: both;
}
.z{
    float: left;

}
.y{
    float: right;
}
.top{
    width:100%;
    height: 24px;
    line-height: 24px;
    color: #d8d8d8;
    background: #303030;
}
.top a{
    color: #d8d8d8;
    text-decoration: none;
}
.top a:hover{
    color: cadetblue;
}
.logo_z{
    margin-top:20px ;
}
/*搜索*/

.inp-but{
    float: right;
    width: 350px;
    height: 35px;
    margin-right:250px;
}



/*导航*/
.nav{
    height: 39px;
    width: 100%;
    float: left;
    background:salmon;
}
.nav li{
    margin-left: 10px;
    list-style: none;
    float: left;
    line-height: 39px;
    padding: 0 28px;
}
.nav li.a , .nav li:hover{
    background:gray;
}
.nav a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
/*center*/
.ad{
    margin-bottom: 10px;
}
.tit{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 10px;
}
.tit span{
    position: absolute;
    right: 0;
    bottom: 0;

}
.tit a{
    text-decoration: none;
    color:  #c9090a;

}
.title a{
    text-decoration: none;
}
.jj_c image{
    float: left;
    margin:0 10px 10px 0 ;
}
.jianjie{

   width: 300px;
    height:360px;
    margin-right: 20px;

}
.jj_c p{

    color: #616161;
    text-indent: 24px;
}
.tu{
    margin-right: 10px;
    float: left;
}

.xinwen{
    width:630px ;
    height:360px;
}
.xw_c a{
    text-decoration: none;
    color: #616161;


}
.xw_c li{
    float: left ;
    list-style: none;
    height:100px;
    line-height: 24px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 6px;
    background: url("images/list_bg.jpg") no-repeat center left;
}
.xw_c h3{
    font-weight: normal;
    font-size: 14px;
}
.xw_c p{
    font-size: 12px;
}

.xw_c li.a{
    float: right;
    background: none;
    padding: 0;
    height: 80px;
}
.xw_c li img{
    float: left;
    margin: 0 10px 10px 0;
}

.xw_c span{
    position: absolute;
    right:0;
    bottom: 0;
    color: #888888;
}
.cp_c li{
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    width: 128px;
    height: 210px;
    overflow: hidden;
    position: relative;

}
.cp_c a{
    text-decoration: none;
}
.cp_c span{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    height: 20px;
    width: 150px;
    padding: 0 10px;
    color: #fff;
    background: url("images/前3星.png") no-repeat #ffffff;
    overflow: hidden;
}
.cp_c li a:hover span{
    display: block;
}
.cp_c li img{
    float: left;
}
.cp_c li.mr_0{
    margin-right: 0;
    float: right;
}
.footer{
    float: left;
    width: 100%;
    height: 50px;
    background:salmon;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
    padding: 24px;
    line-height: 3.5;
}
.footer_bottom{
    width: 100%;
    height: 20px;
    background: #303030;
}
.footer_bottom span{
    font-size: 10px;
    float: left;
    line-height:1;
    padding:6px;
    color: #ffffff;
}
.footer_bottom f_a{
    color: orange;
}